<div class="wrapper">

  <p>This app is a work in progress.</p>

  <p class="about-text">Inspired by DIY projects and the desire to learn from other people, I built this site to be a place to learn new skills and share your knowledge. Often times I'll stumble upon awesome ideas and projects online, but with my busy schedule, it's tough to find the time to complete lengthy projects. Hence, the name of the site - requiring that all tutorials be under 10 steps. </p>

</div>
