<div class="wrapper">

  <h1>List of all tutorials</h1>

  <% @tutorials.each do |tutorial| %>
    <div class="tutorials-container">

      <div>
        <% if tutorial.main_image.exists? %>
          <%= link_to show_tutorials_path(tutorial) do %>
            <%= image_tag tutorial.main_image (:medium) %>
            <div>
              <%= tutorial.title %>
              <p>submitted by: <%= tutorial.user.fname %></p>
            </div>
          <% end %>
        <% end %>
      </div>

    </div>
  <% end %>
</div>
