.btn-wrapper {
  width: 100%;
  text-align: center;
}

.search-btn {
  display: none;
}

.create-btn,
.submit-btn {
  width: 22%;
  padding: 2%;
  border: none;
  margin-bottom: 5%;
  border-radius: 4px;
  background-color: $secondary-color;
  text-align: center;
  
  a:hover {
    color: $hover;
  }
}

.create-btn {
  display: inline-block;

  &:hover {
    color: $hover;
  }
}

.submit-btn {
  background-color: $teriary-color;
  font-family: $font-alternate;
  font-size: $small;

  &:hover {
    color: $hover;
  }
}

// like-heart btn

.likes {
  text-align: left;
  margin-left: 10px;
  color: $hover;
}

#clicks {
  margin-left: 20px;
}