nav {
  width: 88%;
  display: inline-block;
  text-align: right;
  font-family: $font-alternate;

  ul li {
    list-style: none;
    display: inline-block;
    font-size: $small;
  }

  li {
    padding-right: 3%;
    border-right: $light;

    :hover {
      color: $hover;
    }
  }
}

.logo {
  font-family: $font-fancy;
  font-size: 25px;
  display: inline-block;

  :hover {
    color: $hover;
  }

  a {
    color: $primary-color;
  }
}

.search-form {
  border: none;
}
