// font
$font-stack: 'Montserrat', sans-serif;
$font-fancy: 'Megrim', serif;
$font-alternate: 'Raleway';

// font-size
$small: 12px;
$medium: 20px;
$large: 30px;

// color (font, background, foreground)
$primary-color: #333333; 
$secondary-color: #FCFCFC;
$teriary-color: #EBEBEB;

// border
$light: 1px solid $teriary-color;