// font
$font-stack: 'Raleway', sans-serif;
$font-fancy: 'Megrim', serif;
$font-alternate: 'Montserrat', sans-serif;

// font-size
$small: 0.75em;
$medium: 1.25em;
$large: 1.875em;

// color (font, background, foreground)
$primary-color: #333333; 
$secondary-color: #FCFCFC;
$teriary-color: #EBEBEB;

// border
$light: 1px solid $teriary-color;