.row {
  height: 34%;
}

.col {
  display: inline-block;
  vertical-align: top;
  // background-color: lightgrey;
  margin-left: -4px;
}

.col:first-of-type {
  margin-left: 0px;
}


.col-7 {
  // width: 58.33333%;
  width: 56.82%;
}

.col-5 {
  // width: 41.66666%;
  width: 43.18%;
}

.col-4 {
  width: 33.33333%;
}
