.sub-title {
  text-align: center;
  padding: 20px;
  background-color: $teriary-color;
}

.left-title {
  display: inline-block;
  text-align: left;
  width: 44%;
  font-size: $medium;
}

.right-title {
  display: inline-block;
  text-align: right;
  width: 44%;

  :hover {
    color: $hover;
  }
}

.category-name {
  position: absolute;
  display: inline-block;
  font-size: 60px;
  right: 0%;
  top: 35%;
  font-family: $font-fancy; 
  width: 100%;
  opacity: 0;
  background-color: rgba(26, 24, 24, 0.38);
  @include transition(opacity .8s $ease-out-circ);

  a {
    color: #FFF;
  }
}

.categories-layout {
  margin-top: 5%;
  text-align: center;
}

.col {
  position: relative;

  &:hover {
    .category-name {
      opacity: 1;
    }
  }
}

// .cat-image {
//   width: 100%;
// }

// about page

.about-text {
  font-size: $medium;
  line-height: 150%;
  padding: 0 16%;
  text-align: center;

  span {
    font-family: $font-fancy;
  }
}


