body {
  font-family: $font-stack;
  font-weight: lighter;
  background-color: $secondary-color;
  color: #484848;
}

a {
  text-decoration: none;
  color: #575151;
}

h1 {
  font-weight: lighter;
  font-size: 30px;
  font-weight: lighter;
  padding: 10px;
}

h4 {
  font-weight: lighter;
}

.invisible {
  visibility: hidden;
}

.wrapper {
  width: 85%;
  padding-top: 20px;
  margin: 0 auto;
  text-align: center;
}

.show-wrapper {
  width: 70%;
  margin: auto;
}

.container {
  width: 76%;
  padding-top: 20px;
  padding-bottom: 30px;
  margin: 0 auto;
}

.shim {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(12, 13, 13, 0.67);
}

.image {
  width: 100%;
}

.background {
  background-color: $teriary-color;
  height: 100%;
  margin-top: 30px;
  padding-bottom: 20px;
}

.full-background {
  background-color: $teriary-color;
  height: 100%;
  width: 100%;
  margin-top: 10px;
}

.flexslider {
  max-width: 90%;
  margin: 0 auto;
  opacity: 0.9;
}

.slides p {
  position: absolute;
  top: 15%;
  font-weight: lighter;
  font-size: 2.8em;
  color: #fff;
  width: 7%;
  margin-left: 0.5%;
  background-color: rgba(236, 228, 228, 0.31);
  border-radius: 4px;

  span {
    font-family: $font-fancy;
  }
}