* {
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  font-weight: lighter;
  background-color: $secondary-color;
  color: #484848;
}

a {
  text-decoration: none;
  color: #575151;

  &:hover {
    color: $hover;
  }
}

h1 {
  font-weight: lighter;
  font-size: $large;
  font-weight: lighter;
  padding: 10px;
}

h4 {
  font-weight: lighter;
}

img, .image {
  width: 100%;
}

li {
  list-style: none;
}

.invisible {
  visibility: hidden;
}

.wrapper {
  width: 85%;
  padding-top: 2%;
  margin: 0 auto;
  text-align: center;
}

.show-wrapper {
  width: 70%;
  margin: auto;
}

.container {
  width: 76%;
  padding-top: 20px;
  padding-bottom: 30px;
  margin: 0 auto;
}

.shim {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(12, 13, 13, 0.67);
}


.background {
  background-color: $teriary-color;
  height: 100%;
  margin-top: 30px;
  padding-bottom: 20px;
}

.full-background {
  background-color: $teriary-color;
  height: 100%;
  width: 100%;
  margin-top: 10px;
}

.flexslider {
  max-width: 100%;
  margin: 0 auto;
  opacity: 0.9;
  // z-index: 1;
  // position: absolute;
  // top: 0;
  // left: 0;
  // width: 100%;
  // z-index: 0;
}

// .slides p {
//   position: absolute;
  // font-weight: lighter;
  // font-size: 2.8em;
//   color: $primary-color;
//   top: 150px;
//   width: 70%;
  // margin-left: 0.5%;
  // background-color: rgba(236, 228, 228, 0.31);
  // border-radius: 4px;

//   span {
//     font-family: $font-fancy;
//   }
// }


// .textinside { 
//   width:100%;
//   background-color:black;
//   padding:50px;
//   text-align:center;
// }

// .textinside {
//   position:absolute;
//   top:100px;
//   left:50%;
//   margin-left:-484px;
//   z-index:10;
// }

.slides .textinside {
  position: absolute;
  font-weight: lighter;
  font-size: 2.8em;
  font-family: $font-alternate;

  &.one {
    right: 4%;
    top: 30%;
    width: 41%;
  }

  &.two {
    top: 10%;
    width: 64%;
    right: 17%;
  }
 
  &.three {
    top: 13%;
    color: #fff;
    width: 54%;
    right: 20%;
  }

  &.four {
    width: 70%;
    right: 14%;
    top: 6%;
  }

}

.slides li {
  width: 100%;
  position: relative;
}

