.tutorial-main-image img,
.category-block img {
  width: 100%;
}

#tutorial_category_id {
  margin-bottom: 30px;
}

.tutorial-background {
  padding: 10px 50px 0 50px;
}

.tutorial-wrapper {
  background: #FFF;
  border-radius: 4px;
  width: 100%;
  text-align: center;
  vertical-align: top;
  display: inline-block;
  box-shadow: 0 4px 2px -2px rgba(100, 100, 100, 0.4);
}

.tutorials-container {
  background: #FFF;
  margin-bottom: 3%;
  border-radius: 4px;
  padding: 10px;
  // width: 32%;
  text-align: center;
  vertical-align: top;
  display: inline-block;
  box-shadow: 0 4px 2px -2px rgba(100, 100, 100, 0.4);

  img {
    width: 100%;
  }
}

.tutorial-text, .supplies {
  text-align: left;
  padding: 10px;
  line-height: 20px;
}

.tutorial-main-image {
  width: 100%;
}

.step-wrapper {
  margin-bottom: 10px;
  // width: 65%;
  // margin-left: 17px;
  // text-align: center;
  // display: inline-block;
  // vertical-align: top;
  // border-radius: 4px;
  // box-shadow: 0 4px 2px -2px rgba(100, 100, 100, 0.4);
}

.step-text {
  text-align: left;
  // margin-right: 10px;
}

.step-text p {
  // padding: 0px 15px;
  line-height: 25px;
  text-align: left;
}

.step-text, .step-image {
  width: 49%;
  height: 300px;
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  // margin-bottom: 20px;
  background: #FFF;
  border-radius: 4px;
  box-shadow: 0 4px 2px -2px rgba(100, 100, 100, 0.4);
}

.steps-wrapper {
  background: #FFF;
  border: 1px solid #fff;
  // padding: 10px;
  border-radius: 4px;
  box-shadow: 0 4px 2px -2px rgba(100, 100, 100, 0.4);
}

.step-review-wrapper {
  box-shadow: 0 4px 2px -2px rgba(100, 100, 100, 0.4);
  background: #FFF;
  width: 90%;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  margin-bottom: 10px;
  margin-left: 17px;
  padding: 4%;
}

.test-wrap {
  width: 60%;
  display: inline-block;
}

.show-container {
  width: 100%;
  margin: 0 auto;
  display: inline-block;
}

.column {
  display: inline-block;
  vertical-align: top;
}

.column.left {
  width: 33%;
  padding-left: 2%;
}

.column.right {
  padding-left: 2%;
  width: 66%;
}

// search page

.search-container,
.categorized-container {
  text-align: center;
}

.search-container p {
  font-size: $medium;
  padding-top: 2%;
}

.time {
  font-size: $small;
}

// editing:
.edit-text {
  
  p {
    display: none;
  }
}

